//breakpoints
$tablet: 768px;
$desktop: 1280px;

//colors

$primary-color: #316EA2;
$secondary-color: #FFC600;
$foreground-1: #21252B;
$foreground-2: #363B43;
$foreground-3: #3D444D;
$muted: #788B98;
$white:#FFFFFF;
